

<div class="container mt-2">
        <form action="/action_page.php">
        <div class="row">
          <div class="col-sm">
                
                    <div class="form-group">
                      <label for="nameFuction">Fuction Name:</label>
                      <input type="text" class="form-control" id="nameFuction">
                    </div>
                    <div class="form-group">
                      <label for="description">Description:</label>
                      <textarea class="form-control" id="description" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">Tags:</label>
                        
                        
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                 
          </div>
          <div class="col-sm">
                <label for="description">Code JS:</label>
                <ace-editor #editor style="height:300px;">
                </ace-editor>
          </div>
        </div>
    </form>
</div>

