<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">


<div class="container mt-2">

        <form (submit)="addFunction()">
        <div class="row">
          <div class="col-sm">
                
                    <div class="form-group">
                      <label for="nameFuction">Fuction Name:</label>
                      <input type="text" [(ngModel)]="name" name="name" class="form-control" id="nameFuction" required>
                    </div>
                    
                    <div class="form-group">
                      <label for="description">Description:</label>
                      <textarea class="form-control" [(ngModel)]="description" name="description" id="description" rows="3" required></textarea>
                    </div>

                    <div class="form-group row">
                      <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList aria-label="Tag selection">
                          <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                                   [removable]="removable" (removed)="remove(tag)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input
                                 [matChipInputFor]="chipList"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="addOnBlur"
                                 (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                      </mat-form-field>

                        
                    </div>

                    <hr>
                    <button type="submit" class="btn btn-lg btn-success mt-2">Save</button>
          </div>
          <div class="col-sm">
                <label for="description">Code JS:</label>
                <ace-editor #editor style="height:300px;">
                </ace-editor>
          </div>
          
        </div>
    </form>
</div>



