<div class="container mt-3"> 
  <div class="input-group mb-3 ">
    <div class="input-group-prepend">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search By</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Function name</a>
        <a class="dropdown-item" href="#">Description</a>  
        <a class="dropdown-item" href="#">User</a>
        <a class="dropdown-item" href="#">Tag</a>
        <a class="dropdown-item" href="#">ID</a>    
      </div>
    </div>
    <input type="text" class="form-control input-sm" aria-label="Text input with dropdown button" placeholder="Search..." required>
    <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search  fa-fw"></i>
        </button>
      </div>
  </div>
</div> 

